<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> My Website - About </title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1> Erica Virgo </h1>
        <p> I am a third year Computer Science major at the University of the West Indies. 
            I like reading, coding, playing sports and watching movies. I do not have a dream job in the world of work.
            I like movie quotes and witty quips.</p>

    </body>
</html>